<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-cilico-scanner" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0">
    <name>Cordova Cilico Scanner Plugin</name>
    <author>ModraedLau</author>
    <license>MIT</license>
    <keywords>cordova, plugin, cilico, scanner</keywords>

    <js-module name="CilicoScanner" src="www/cilico-scanner.js">
        <clobbers target="cordova.plugins.CilicoScanner"/>
    </js-module>

    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="CilicoScanner">
                <param name="android-package" value="com.vsdata.cordova.plugin.CilicoScanner"/>
                <param name="onload" value="true"/>
            </feature>
        </config-file>
        <source-file src="src/android/com/vsdata/cordova/plugin/CilicoScanner.java"
                     target-dir="src/com/vsdata/cordova/plugin"/>
    </platform>
</plugin>