<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-sunmi-scanner" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0">
    <name>Cordova Sunmi Scanner Plugin</name>
    <author>ModraedLau</author>
    <license>MIT</license>
    <keywords>cordova, plugin, sunmi, scanner</keywords>

    <js-module name="SunmiScanner" src="www/sunmi-scanner.js">
        <clobbers target="SunmiScanner"/>
    </js-module>

    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="SunmiScanner">
                <param name="android-package" value="com.vsdata.cordova.plugin.SunmiScanner"/>
                <param name="onload" value="true"/>
            </feature>
        </config-file>
        <source-file src="src/android/com/vsdata/cordova/plugin/SunmiScanner.java"
                     target-dir="src/com/vsdata/cordova/plugin"/>
    </platform>
</plugin>